
body {
	padding: 40px;
}

body, p { font-size: 24px; }


.general{
	background-color: red;
}
.html{
	background-color: blue;
}
.css{
	background-color: orange;
}
.javascript{
	background-color: purple;
}
.testing{
	background-color: pink;
}
.performance{
	background-color: aqua;
}
.network{
	background-color: brown;
}
.coding {
	background-color: green;
}
.fun {
	background-color: lime;
}
