.test__container {
	min-height: 100vh;
  height: 100%;
	display: flex;
	align-items: center;
}
.test__sectionToggleContainer{
	border: 1px solid white;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 600px;
	margin: 0 auto 40px auto;
	padding: 20px;
}
.test__sectionToggle{
	margin: 10px;
}
.test__content{
  max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}
.test__section{
  display: inline-block;
  letter-spacing: 3px;
  margin: 20px 0;
	text-transform: uppercase;

  @include getSectionColours;
}
.test__question{
  h3{
    @include text-gradient;
    margin: 0;
		white-space: pre-line;
  }
  @include custom-card;
	margin: 0 auto;
  padding: 20px;
  margin-bottom: 40px;
}

.test__container, .test__question h3{
	@include getSectionGradients;
}
