.answerField, .answerField::placeholder {
  color: $bg-color;
  font-family: $header-type;
  font-size: 1.5rem !important;
}
.submitAnswer{
  color: $body-color;
  font-family: $header-type;
  text-transform: capitalize;

  @include getSectionColours;
}

.test__userAnswers{
  @include getSectionColours;
}

.test__storedAnswers{
  @include getSectionColours;
}
